In [2]:
import numpy as np
import pandas as pd

In [ ]:
#group by

In [4]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Date': pd.date_range('2023-01-01', periods=8)
}
df = pd.DataFrame(data)

In [6]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [8]:
# Group by Category and calculate the sum of Sales
cat = df.groupby("Category")["Sales"]
cat
for i,v in cat:
    print(i)
    print(v)

A
0    100
2    150
4    120
6    200
Name: Sales, dtype: int64
B
1    200
3    250
5    180
7    300
Name: Sales, dtype: int64

In [10]:
# Group by Category and calculate the sum of Sales
cat = df.groupby("Category")["Sales"].sum()
cat

Category
A    570
B    930
Name: Sales, dtype: int64

In [12]:
# Group by Store and calculate the sum of Sales
store =df.groupby("Store")["Sales"].sum()
store

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [14]:
# Group by multiple columns
# Group by Category and Store
cat = df.groupby(["Category","Store"])["Sales"].sum()
cat

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

In [16]:
df["Sales"].mean()
""" min max count std"""

187.5

In [18]:
df["Sales"].median()

190.0

In [27]:
df["Sales"].agg(["sum","mean","median","min","count","std"])

sum       1500.000000
mean       187.500000
median     190.000000
min        100.000000
count        8.000000
std         66.062741
Name: Sales, dtype: float64